# Environment
.env
.vscode/
.idea/

# Python
models/venv/
models/**/__pycache__/
*.pyc

# Data
dataset/
data/
*.mid
*.midi
*.json
!package.json 
!tsconfig.json  

# Node
parser/node_modules/
parser/dist/

# Build outputs
parser/dist/
*.log