@import 'tailwindcss';
@plugin '@tailwindcss/typography';

* {
    margin:0;
    padding:0;
    font-family: 'Share Tech Mono', monospace;
}

h1{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

h2{
    font-size: 0.9rem;
    letter-spacing: 0;
}

h3{
    font-size: 1rem;
    font-weight: 700;
}

h4{
    font-size: 1rem;
    font-weight: 600;
}

h5{
    font-size: 0.75rem;
    font-weight: 600;
}

p{
    color: #8f9bb3;
}


button {
    flex: 1;
    background: transparent;
    border: 1px solid #2a2f3a;
    padding: 0.75rem;
    font-family: monospace;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s;
    color: #b0bed9;
}

.btn-primary {
    background: #ff3e3e20;
    border-color: #ff3e3e;
    color: #ff3e3e;
}

.btn-primary:hover {
    background: #ff3e3e40;
    box-shadow: 0 0 12px rgba(255, 62, 62, 0.3);
}

.btn-secondary:hover {
    background: #2a2f3a;
}

